{% extends "layout.html" %}


{% block main %}

    {{ super() }}
    <div class="col-xs-12">
        <h3 style="text-align: center; margin:0; color:#1d9ce5"> Movies </h3>
        </br>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Main Cast</th>
            <th>MPAA Rating</th>
            <th>My Rating</th>
        </tr>
        {% for movie in movies_list %}
            <tr>
                <td> {{ movie.title }} </td>
                <td> {{ movie.year }} </td>
                <td> {{ movie.genre }} </td>
                <td> {{ movie.director }} </td>
                <td> {{ movie.main_cast }} </td>
                <td> {{ movie.mpaa_rating }} </td>
                <td> {{ movie.my_rating }} </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}