{% extends "layout.html" %}


{% block main %}

    {{ super() }}
        <div class="col-xs-12">
        <h3 style="text-align: center; margin:0; color:#1d9ce5"> New Movie </h3>
        </br>
    </div>
    <form action="/movie/" method="POST">
        <table class="table table-hover ">
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="title" name="title"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="year" name="year"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="genre" name="genre"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="director" name="director"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="main cast" name="main_cast"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="mpaa rating" name="mpaa_rating"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="my rating" name="my_rating"/>
                </td>
                <td><button type="submit" class="btn btn-default">submit</button></td>
            </tr>
        </table>

    </form>

{% endblock %}